<!DOCTYPE html>
<html>
<head>
	<title>css 测试</title>
	<meta charset="utf-8">
	<script src="vue.js"></script>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="wrapper" id='together'>
		<div class="main">
			<div class="filter-wrap" >
				<div class="form-wrap">
					<label>店铺名称：</label>
					<input type="text" class="form-control J-shop-name" placeholder="请输入店铺名称" v-model='searchFormData.shopName'/>
				</div>
				<div class="form-wrap">
					<label>商品名称：</labe>
					<input type="text" class="form-control J-goods-name" placeholder="请输入商品名称" v-model='searchFormData.goodsName' />
				</div>
				<button class="btn btn-primary J-search" v-on:click='fetchTableList'>搜索</button>
			</div>

			<div class="table-wrap">
				<div class="table-header" >
					<button class="btn btn-default J-add" v-on:click="addFadein">添加商品</button>
				</div>
				<div class="table-body">
					<table id="table1">
						<thead>
							<tr>
								<th>No.</th>
								<th>店铺名称</th>
								<th>商品名称</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody >
							<tr v-if='tableList.length>0' v-for='(item,index) in tableList'>
								<td v-text='index+1'></td>
								<td v-text='item.shopName'></td>
								<td v-text='item.goodsName'></td>
								<td>
									<a href="javascript:void(0);" @click="modifyFadein(item)">修改</a>
								</td>
							</tr>
							<tr v-if="tableList.length<=0">
								<td colspan="100">没有符合条件的结果～</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	


	<!-- 添加商品 -->
	<div class="modal" id="modal-add">
		<div class="modal-content" >
			<div class="modal-header">
				<h4>添加商品</h4>
			</div>
			<div class="modal-body">
				<div class="form-offset">
					<div class="form-wrap">
						<label>店铺名称：</label>
						<input type="text" class="form-control J-add-shopName" placeholder="请输入店铺名称" v-model='addFormData.shopName'/>
					</div>
					<div class="form-wrap">
						<label>商品名称：</labe>
						<input type="text" class="form-control J-add-goodsName" placeholder="请输入商品名称" v-model='addFormData.goodsName'/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary J-add-submit" v-on:click='addSure'>确定</button>
				<button class="btn btn-default J-cancel" v-on:click='Cancel'>取消</button>
			</div>
		</div>
	</div>

	<!-- 修改商品 -->
	<div class="modal" id="modal-update">
		<div class="modal-content" >
			<div class="modal-header">
				<h4>编辑商品</h4>
			</div>
			<div class="modal-body">
				<div class="form-offset">
					<div class="form-wrap">
						<label>店铺名称：</label>
						<input type="text" class="form-control J-update-shopName" placeholder="请输入店铺名称" v-model='modifyFormData.shopName' />
					</div>
					<div class="form-wrap">
						<label>商品名称：</labe>
						<input type="text" class="form-control J-update-goodsName" placeholder="请输入商品名称" v-model='modifyFormData.goodsName' />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary J-update-submit" v-on:click='modifySure'>确定</button>
				<button class="btn btn-default J-cancel" v-on:click='Cancel'>取消</button>
			</div>
		</div>
	</div>
</div>

	<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>